[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "~=23.2"
typing-extensions = "*"

[dev-packages]

[bot]
yt-dlp = "*"
httpx = "~=0.26.0"

[service]
asyncpg = "~=0.29.0"
aio-pika = "~=9.4.0"
redis = {extras = ["hiredis"], version = "~=5.0.1"}

[web]
pydantic = "~=2.6.0"
jinja2 = "~=3.1"
sanic = {extras = ["ext"], version = "~=23.12.1"}
