http://:80 {
    reverse_proxy web:8080 {
        lb_policy cookie lb LB_COOKIE {
            fallback weighted_round_robin 1
        }
        lb_retries 2
        lb_try_interval 0ms

        fail_duration 10s
        unhealthy_status 500

        health_uri /health
        health_interval 10s
        health_timeout 2s
    }
}