<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ session['bot']['name'] }} - {{ session['room']['name'] }}</title>
</head>
<body>
    <form action="/disconnect" method="post">
        <p style="display: inline">Disconnect bot:</p>
        <input type="submit" value="Disconnect">
    </form>
    <div id="info">
        <p>Room: {{ session['room']['name'] }} {{ session['room']['url'] }}</p>
        <p>User: {{ session['user']['name'] }}</p>
        <p>Bot: {{ session['bot']['name'] }}</p>
        <p>Whitelist: {{ session['bot']['whitelist'] | tojson(indent=4) }}</p>
        <p>Blacklist: {{ session['bot']['blacklist'] | tojson(indent=4) }}</p>
        <p>Groups: {{ session['bot']['groups'] | tojson(indent=4) }}</p>
    </div>
</body>
</html>