<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lamb</title>
</head>
<body>
    <form method="post">
        <label for="user_name">User name:</label>
        <input style="display: block" type="text" name="user_name" id="user_name" placeholder="name##passcode" pattern=".+##.+" required>

        <label for="bot_name">Bot name:</label>
        <input style="display: block" type="text" name="bot_name" id="bot_name" placeholder="name##passcode" pattern=".+##.+" required>

        <label for="room_url">Room id/url:</label>
        <input style="display: block" type="text" name="room_url" id="room_url" required>

        <label for="hidden">Hidden:</label>
        <input type="checkbox" name="hidden" id="hidden">

        <input style="display: block" type="submit" value="Enter">
    </form>
    {% if flash_message %}
        <p>{{ flash_message }}</p>
    {% endif %}
</body>
</html>